@charset"utf-8";
html, body {
	width:100%;
}

/* 전체박스 */
.container {
	width:100%;
	height:100%;
	background:#efece4 url("../img/bg.png") repeat-x;
}

.content_wrap {
	position:relative;
	width:1200px;
	margin:0 auto;
}

/* 탑메뉴 영역*/
.top_wrap {
	width:100%;
	height:100px;
	background:#ebab79;
}

.logo {
	width:150px;
	height:100px;
}

.menu {
	position:absolute;
	left:200px;
	bottom:0;
}

.menu li {
	float:left;
	width:200px;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:20px;
	border-radius:10px 10px 0 0;
}

.menu > li > a {
	color:#fff;
}

.menu_active {
	color:#ebab79;
	background:#fff url(../img/box_shadow.png) no-repeat bottom right;
}

.orange {
	color:#ebab79;
	font-weight:bold;
}
